.charts-container {
    width: 100vw;
    height: 100%;
    background-color: transparent;
}

.adm-tabs-tab {
    color: white;
}

.adm-tabs-header {
    border-bottom: none;
}

.ant-collapse-content {
    background-color: transparent!important;
}

.ant-collapse {
    background-color: transparent!important;
}